/* Main Container Background */ 
.mainContainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Home Card */ 
.home_card {
    width: 100%;
    height: 100%;
}

/* Version Website */ 
.version {
    padding: 3px 10px 3px 10px;
    position: absolute;
    top: 65px;
    right: 15px;
    border-radius: 50px;
    font-size: 11px;
    background: gray;
}