steps:

- id: "Build app image"
  name: 'gcr.io/cloud-builders/docker'
  args: ['build', '-t', 'gcr.io/$PROJECT_ID/portfolio:latest', '.']

- id: "Push app image"
  name: 'gcr.io/cloud-builders/docker'
  args: ['push', 'gcr.io/$PROJECT_ID/portfolio:latest']

- id: "Deploy new app image"
  name: 'gcr.io/cloud-builders/gcloud'
  args: ['run', 'deploy', 'portfolio', '--image=gcr.io/$PROJECT_ID/portfolio:latest', '--region=europe-west9', '--allow-unauthenticated', '--concurrency=50', '--platform=managed', '--timeout=10s', '--max-instances=50', '--min-instances=0', '--memory=128Mi', '--cpu=1']

timeout: 300s
