/* Main Container Background */ 
.projectsContainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projectsContainerSmart {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .title {
        margin-top: 75px;
        margin-bottom: 0;
    }
}