.FlagsSelector {
    display: inline-block;
    position: absolute !important; /* for surpassing .ReactFlagsSelect-module_flagsSelectInline__cUnnz class*/
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .FlagsSelector {
        right: 0;
    }
}